@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Roboto:wght@300;400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Стили для плавной прокрутки */
html {
	scroll-behavior: smooth;
}

/* Стили для кастомного скроллбара в горизонтальных секциях */
.horizontal-scroll::-webkit-scrollbar {
	height: 8px;
}
.horizontal-scroll::-webkit-scrollbar-track {
	background: #f1f1f1;
	border-radius: 10px;
}
.horizontal-scroll::-webkit-scrollbar-thumb {
	background: #b2ac88; /* light-sage */
	border-radius: 10px;
}
.horizontal-scroll::-webkit-scrollbar-thumb:hover {
	background: #808000; /* muted-olive */
}
